[submodule "rdeheele2/dgm"]
	path = rdeheele2/dgm
	url = git@github.com:rdeheele/dgm.git
	branch = master

[submodule "rdeheele3/dgm"]
	path = rdeheele3/dgm
	url = git@github.com:rdeheele/dgm.git
	branch = master
