[submodule "rdeheele3/dgm"]
	path = rdeheele3/dgm
	url = git@github.com:rdeheele/dgm.git
	branch = master

[submodule "rdeheele/dgm"]
	path = rdeheele/dgm
	url = git@github.com:rdeheele/dgm.git
	branch = master
