[submodule "rdeheele/dgm"]
	path = rdeheele/dgm
	url = git@github.com:rdeheele/dgm.git
	branch = master
[submodule "dgm"]
	path = dgm
	url = https://github.com/rdeheele/dgm
	branch = master
[submodule "dgm2"]
	path = dgm2
	url = git@github.com:rdeheele/dgm.git
	branch = master
